h1 {
    text-align: center;
    font-size: 1em;
    align-items: center;
}

.entire_page {
    background-color: black;
    color:white;
}

table {
    border-collapse: collapse;
}

td, th {
    border: solid;
    border-width: 1px;
    padding: 8px;
    text-align: left;
}

a {
    color: rgb(111, 205, 255);
}

.sport {
    text-align: center;
    font-size: 20px;
}

div {
    display: inline-block;
}
